<header>
  <h1>Provider: <%= @provider.name %></h1>
</header>

    <ul class="actions">
        <li>
          <li><%= link_to "Edit Provider", [:edit, @provider], class: "edit" %>
        </li>
        <li>
            <%= link_to "Delete Provider", [@provider],
                method: :delete,
                data: { confirm: "Are you sure you want to delete this provider?" },
                class: "delete"
            %>
        </li>
    </ul>
  </header>
