<div class="filter col-md-2">
  <div class="page-header">
    <h4>Manage Filters</h4>
  </div>
  <form>
    <div class="page-header">
      <b>Categories</b>
    </div>
    <ul class="list-unstyled">
      <li>
        <input type="checkbox">
        Adrenaline
      </li>
      <li>
        <input type="checkbox">
        Aquatic
      </li>
      <li>
        <input type="checkbox">
        Cultural
      </li>
      <li>
        <input type="checkbox">
        Family
      </li>
      <li>
        <input type="checkbox">
        Safari
      </li>
      <li>
        <input type="checkbox">
        Romantic
      </li>
    </ul>

    <div class="page-header">
      <b>Activities</b>
    </div>
    <ul class="list-unstyled">
      <li>
        <input type="checkbox">
        Shark Diving
      </li>
      <li>
        <input type="checkbox">
        Jeep Tours
      </li>
      <li>
        <input type="checkbox">
        Hiking
      </li>
    </ul>

    <div class="page-header">
      <b>Location</b>
    </div>
    <select class="form-control">
      <option>Western Cape</option>
      <option>Durban</option>
      <option>Bulawayo</option>
      <option>Victoria Falls</option>
      <option>Okavango</option>
    </select>

    <div class="page-header">
      <b>Availability Dates</b>
    </div>

    <center>
      <button type="submit" class="btn btn-primary">Update Search results</button>
    </center>
  </form>

</div>
