<!--SEARCH RESULTS -->
<div class="container-fluid">
  <div class="page-header">
    <h3>Search Results</h3>
  </div>
  <section id="activities">
    <div class="row">
      <%= render 'layouts/home/results/filter' %>
      <div class="col-md-10">
        <article>
          <%= render 'layouts/results/sorter' %>
          <%= render 'layouts/results/search_results' %>
        </article>
      </div>
    </div>
  </section>
</div>
<%= render 'layouts/home/footer' %>
