<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <select class="form-control">
        <option>Price - Highest to Lowest</option>
        <option>Activity (desc.)</option>
        <option>Location</option>
        <option>Category (desc.)</option>
        <option>Availability</option>
      </select>
    </div>
    <div class="col-md-9">
      <div class="btn-group pull-right">
        <a href="#" id="list" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-th-list"></span>
        </a>
        <a href="#" id="grid" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-th"></span>
        </a>
      </div>
    </div>
  </div>
</div>
