<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="<%= " active" if current_page?(" /") %>">
            <%= link_to "Home", root_path %>
        </li>

        <li>
            <a href="#">Providers</a>
        </li>
        <li>
            <a href="#">Offerings</a>
        </li>
        <li>
            <a href="#">Reservations</a>
        </li>
    </ul>
    <ul class="nav nav-sidebar">
        <li>
            <a href="">Activities</a>
        </li>
        <li>
            <a href="">Categories</a>
        </li>
    </ul>

    <ul class="nav nav-sidebar">
        <li>
            <a href="">Trips</a>
        </li>
        <li>
            <a href="">Reviews</a>
        </li>
    </ul>

    <ul class="nav nav-sidebar">
        <li>
            <a href="">Countries</a>
        </li>
        <li>
            <a href="">Cities</a>
        </li>
        <li>
            <a href="">Provinces</a>
        </li>
        <li class="<%= " active" if current_page?(" /continents") %>">
            <%= link_to "Continents", continents_path %>
        </li>
        <li>
            <a href="">Regions</a>
        </li>
        <li>
            <a href="">Surburbs</a>
        </li>
    </ul>

    <ul class="nav nav-sidebar">
        <li>
            <a href="">Users</a>
        </li>
        <li>
            <a href="">Permissions</a>
        </li>
    </ul>

</div>
