<% title(@category.name, "Category") %>

<header>
    <h1><%= @category.name %></h1>
    <p><%= @category.description %></p>

    <ul class="actions">
        <li>
            <%= link_to "Edit Category", edit_category_path(@category), class: "edit" %>
        </li>
        <li>
            <%= link_to "Delete category", category_path(@category),
                method: :delete,
                data: { confirm: "Are you sure you want to delete this category?" },
                class: "delete"
            %>
        </li>
    </ul>
  </header>
