<header>
    <h3>Activities</h3>

<ul class="actions">
  <li>
<%= link_to "New Activity", new_category_activity_path, class: "new" %>
</li>
</header>
<div id="categories">
    <% @activities.each do |activity| %>
      <h2><%= activity.name %></h2>
      <p><%= activity.description %></p>
    <% end %>
</div>
